* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(30, 30, 30);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

/*button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #19A7CE;
}

button:hover {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.4));
    cursor: pointer;
} */

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: #19A7CE;
    text-align: center;
}

header {
    background-color: rgb(30, 30, 30);
}

header .NombreEmpresa {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover {
    color: #19A7CE;
}

#inicio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#inicio .titulo{
    color: #000;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin-top: 200px;
}

.slide{
    text-align: center; /* Ajustar el texto centrado dentro del div */
}

.slide h3{
    color: white;
}

img {
    width: 300px;
    height: 290px;
    display: block; /* Ajustar para centrar verticalmente */
    margin: 0 auto; /* Ajustar para centrar horizontalmente */
}

.img-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Ajustar al ancho del contenedor */
    height: 100%; /* Ajustar al alto del contenedor */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 40px;
    border: none;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(30, 30, 30);
    color: white;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover{
    color: #19A7CE;
}

.next:hover{
    color: #19A7CE;
}

#acerca-de {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    color: rgb(30, 30, 30);
    margin-bottom: 100px;
}

#contador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid #19A7CE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
}

.circle span {
    font-size: 24px;
    position: relative;
    font-weight: bold;
}

.circle::after {
    content: "";
    display: block;
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: #ffffff;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#registrarse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #19A7CE;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1388a8;
}

/* Iconos Font Awesome */
.input-group i {
    margin-right: 10px;
    color: rgb(30, 30, 30); /* Color de los iconos */
}


/* Computadoras project */
@media (min-width: 1024px) {

    header {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #inicio h1 {
        font-size: 5em;
    }

    #contacto h2 {
        font-size: 3em;
    }

    #contacto button {
        font-size: 2em;
    }

    #contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(0, 0, 0);
        background-color: white;
        height: 80vh;
    }

    footer .container {
        justify-content: flex-end;
        font-size: 1em;
    }

}

/* Fin computadoras */